version: '3'

volumes:
  postgres_data:
      driver: local

services:
  postgres:
      image: postgres
      volumes:
        - postgres_data:/var/lib/postgresql/data
      environment:
        POSTGRES_DB: keycloak
        POSTGRES_USER: keycloak
        POSTGRES_PASSWORD: password
  keycloak:
      image: jboss/keycloak:15.1.0
      volumes:
       - ./disable-theme-cache.cli:/opt/jboss/startup-scripts/disable-theme-cache.cli
      environment:
        DB_VENDOR: POSTGRES
        DB_ADDR: postgres
        DB_DATABASE: keycloak
        DB_USER: keycloak
        DB_SCHEMA: public
        DB_PASSWORD: password
        KEYCLOAK_USER: admin
        KEYCLOAK_PASSWORD: admin
        KEYCLOAK_LOGLEVEL: INFO
        ROOT_LOGLEVEL: INFO
      ports:
        - 8443:8443
        - 8080:8080
      depends_on:
        - postgres
